/*da tamaño a la imagen del logo facebook*/
button {
    background: white;
    border: 1px solid gray;
    width: 70px;
    height: 70px;
    border-radius: 100%;
}
p.artist-mini-position {
    display: none;
}
.artist-mini {
    height: 350px;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    border-radius: 100%;
}
h1.page-header.artist {
    text-align: center;
}
/*da tamaño a la imagen de twitter*/

p.artist-data {
    text-align: center;
    margin-top: 15px;
}
.logo{
  width: 20%;
  margin: 0 auto;
  display: block;
}
.nav-tabs {
    border-bottom: 1px solid #ddd;
    width: 230px;
    margin: 0 auto;
}
.bold {
    font-weight: bold;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    text-align: center;
}
td, th {
    padding: 0;
    text-align: center;
}

.thumbnail {
    display: block;
}

/*Deja las estrellas de color gris inicialmente*/
label{
  color:grey;
}
/*Cambia el color de las estrellas cuando se pasa el cursor*/
label:hover{
  color:orange;
}
/*Cambia el color de todas las etiquetas precedidas a la que tiene el cursor*/
label:hover ~ label{
  color:orange;
}
/*esconde los botones de radio en el parrafo de estrellas*/
input[type = "radio"]{
  display:none;
}
/*Al marcar el botón todas los label que le preceden se cambian a naranja*/
input[type = "radio"]:checked ~ label{
  color:orange;
}
.clasificacion{
      direction: rtl;/* cambia la dirección del texto de derecha a izquierda*/
      unicode-bidi: bidi-override;/* cambia la dirección del texto*/
}
/*Cambiar el tamaño de la imagen de reproducir*/
#reproducir {
  width: 30px;
  height: 30px;
}
#parar {
  width: 30px;
  height: 30px;
}
.list-inline > li {
    display: inline-block;
    padding-right: 0px;
    padding-left: 100px;
}
p.success-box {
    background-color: rgba(38, 150, 206, 0.68);
    padding: 9%;
    color: white;
    font-size: 19px;
    text-align: center;
    font-weight: 100;
}
li span.glyphicon {
    font-size: 20px;
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    border-radius: 100%;
    height: 44px;
    margin-bottom: 25px;
    color: #3c1073;
}
.view-product {
    width: 100%;
    padding: 11px 0px;
    font-size: 16px;
    display: block;
    font-weight: 100;
}
.add-product {
    width: 100%;
}
.btn-danger {
    width: 100%;
}
.buy-product{
  width: 100%;
}
.view-product {
    width: 100%;
    padding: 20px 0px;
}
.glyphicon-shopping-cart {
    margin-right: 12px;
    font-size: 15px;
}
footer.bs-footer {
    background: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/sayagata-400px.png);
    padding: 50px;
}
.bar-nav {
    background: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/footer_lodyas.png);
    padding: 10px;
    color: white;
    font-weight: 100;
}
