body{
  font-size: 14px;
}

ul{
  list-style-type: none;
}

.col-md-5.col-sm-12{
	padding: 0;
}

.col-md-5.col-sm-12 h1{
	color: #595c5f;
	font-size: 24px;
	font-weight: bold;
	margin-bottom:30px;
	text-align: left;
}

.col-md-5.col-sm-12 p{
	color: #898e92;
	line-height: 1.5;
	max-width: 400px;
	text-align: justify;
}

.col-md-7.col-sm-12{
	padding-left: 50px ;
	margin-bottom: 72px;
}
/*
.row{
	box-shadow: 0 1px 0 #e1e5e8;
	padding-bottom :0;
	padding-left: 15px;
	background-color: #ffffff;
	margin-bottom: 11px;
}

.row span{
	padding: 20px 0 6px 0;
}

.checkoutlisthead{
  padding: 0;
  box-shadow: 0 0 0;
}

.checkoutlisthead span:first-child{
  padding-left: 7px;
}

.checkoutlisthead span{
  padding:0 21px 0 0;
}

.checkoutlisthead span:last-child{
  float: right;
  padding-right: 70px;
}

.quantity{
  float: left;
  padding-left: 5px;
}

.itemName{
  float: left;
  margin-left: 150px;
}

.price{
  margin-right: 10px;
}

.order button{
  padding: 20px 30px;
  float: right;
}
*/

.order{
  margin-left: -50px;
}
