body{
  font-size: 14px;
}

ul{
  list-style-type: none;
}

.col-md-5.col-sm-12{
	padding: 0;
}

.col-md-5.col-sm-12 h1{
	color: #595c5f;
	font-size: 24px;
	font-weight: bold;
	margin-bottom:30px;
	text-align: left;
}

.col-md-5.col-sm-12 p{
	color: #898e92;
	line-height: 1.5;
	max-width: 400px;
	text-align: justify;
}

.col-md-7.col-sm-12{
	padding-left: 50px ;
	margin-bottom: 72px;
}

.order{
  margin-left: -50px;
}
